<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Прогнозирование размеров сварного шва при электронно-лучевой сварке тонкостенных конструкций аэрокосмического назначения</h1>
</body>

<style>
form{
    margin: auto:
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

 <form action="{{url_for('index')}}" method="POST">
     <fieldset>
         <legend>Введите исходные параметры</legend>
         Величина сварочного тока (IW)
         <input name = "iw" type="number"
         required>
         <br>
         <legend></legend>
         Величина тока фокусировки электронного пучка (IF)
         <input name = "if" type="number"
         required>
         <br>
         <legend></legend>
         Скорость сварки (VW)
         <input name = "vw" type="number"
         required>
         <br>
         <legend></legend>
         Расстояние от поверхности образцов до электронно-оптической системы (FP)
         <input name = "fp" type="number"
         required>
         <br>
         <br>
         <input type="submit">
     </fieldset>
 </form>

<div class="result" align="center">
    {% if result %}
        <br>
        <p style="font-size: 18px">
        Глубина сварного шва (Depth)
        </p>
        <p style="font-size: 18px">{{result}}</p>
        <p style="font-size: 18px">
        Ширина сварного шва (Width)
        </p>
        <p style="font-size: 18px">{{result}}</p>
    {% endif %}
</div>

</html>